<div class="applied-filters-wrapper">
  <h4>Applied Filters: </h4>

  <ng-container *ngIf="isAppliedFiltersEmpty();else none_content">
    <div class="selected-filters-wrapper">
        <div class="selected-filter-wrapper" *ngFor="let filter of appliedFilters">
          <span>{{filter.title}}</span>
          <span (click)="handleUnSelectFilter(filter.id, filter.filterName)" class="close-icon">
            &#x2716;
          </span>
        </div>
      <div class="selected-filter-wrapper" (click)="clearAllFilters()">
        <span>Clear All</span>
      </div>
    </div>
  </ng-container>
  <ng-template #none_content>
    <h4>-none-</h4>
  </ng-template>


</div>
